<h1>Listing bookmarks</h1>

<% if @bookmarks.present? %>
  <%= form_tag bookmarks_path, method: :get, html: { class: 'form-search' } do %>
    <%= text_field_tag :query, params[:query], class: 'input-medium search-query' %>
    <%= submit_tag 'Search', class: 'btn' %>
  <% end %>
<% end %>

<table class="table">
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.url, bookmark %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path, class: 'btn btn-primary' %>