<!DOCTYPE html>
<html>
  <head>
    <title>BookmarkApp</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Bookmark App</a>
        <ul class="nav">
          <li class="<%= current_page?(bookmarks_path) ? 'active' : '' %>"><%= link_to 'Bookmarks', bookmarks_path %></li>
        </ul>

        <% if Bookmark.count > 0 %>
          <%= form_tag bookmarks_path, method: :get, class: 'navbar-search pull-right' do %>
            <%= text_field_tag :query, params[:query], class: 'search-query', placeholder: 'Search' %>

            <% if params[:tags].present? %>
              <% params[:tags].each do |tag| %>
                <%= hidden_field_tag 'tags[]', tag, id: nil %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>

          <div class="tags">
            <% Tag.all.each do |tag| %>
              <span class="label label-info <%= params[:tags] && params[:tags].include?(tag.name) ? 'active' : '' %>"><%= tag.name %></span>
            <% end %>
          </div>

          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
  </body>
</html>
