<%= content_for(:content) do %>
  <div class="row">
    <nav class="span3">
     <div class="well sites">
        <ul class="nav nav-list">
         <li class="nav-header">Sites</li>

         <% Site.all.each do |site| %>
           <li class="<%= current_page?(site_path(site)) ? 'active' : '' %>"><%= link_to site.domain, site %></li>
         <% end %>

        <li class="nav-header">Tags</li>

         <div class="tags">
          <% Tag.all.each do |tag| %>
            <span class="label label-info <%= params[:tags] && params[:tags].include?(tag.name) ? 'active' : '' %>"><%= tag.name %></span>
          <% end %>
         </div>
       </ul>
     </div>
    </nav>

    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>